body{
	background-color: #783030;
}


header#topo{
		padding: 80px;  /*  O TAMANHO DO HEADER */
		background-color: #000;
		background-position: center;
		color: #fff;

}
 
 section{
	border: 1px solid #ccc;
	margin: 50px 500px 0 0;
 }
 
 section header{
	padding: 5px 0 20px 50px;
	background-color: #BF7777;
 }

/* NAV BARRA DE NAVEGAÇÃO */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li a.active{
	background-color: rgba(0,0,0,0.5); 
}